.InnerContainer {
  padding: 0 1rem 1rem 1.5rem;
}

.Entry--Container {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 3px solid #ededed;
}

.Entry--Header {
  margin-bottom: 4rem;
  color: #ec7263;
}

.Entry--Primary-image {
  width: 100%;
}

.Entry--Secondary-image {
  width: 50%;
}

.Block--Code {
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  background: #eee;
}

@media screen and (min-width: 700px) {
  .Entry--Primary-image {
    width: 50%;
  }
}
