{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
      "project": "./tsconfig.json",  // Ensures it uses the TypeScript project configuration
      "ecmaVersion": 2021,
      "sourceType": "module",
      "ecmaFeatures": {
        "jsx": true  // If you're using React with TypeScript
      }
    },
    "env": {
      "es2021": true,
      "browser": true,
      "node": true
    },
    "extends": [
      "eslint:recommended",
      "plugin:react/recommended",
      "plugin:@typescript-eslint/recommended"  // Add TypeScript specific linting rules
    ],
    "rules": {
      "no-console": "off",
      "semi": ["error", "always"],
      "@typescript-eslint/explicit-function-return-type": "off",  // Optional, customize TypeScript specific rules
      "@typescript-eslint/no-unused-vars": ["error"],  // Example: detect unused variables in TypeScript
      "@typescript-eslint/no-explicit-any": "warn"  // Discourages usage of 'any' in TypeScript
    },
    "settings": {
      "react": {
        "version": "detect"  // Automatically detects the React version
      }
    }
  }
  