.Folio {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.Folio--Image img {
  width: 100%;
  height: 100%;
}

.Folio--Overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Folio--Overlay:hover {
  background-color: #000;
  opacity: .7;
  transition: background-color 200ms linear;
}

.Folio--Overlay--Header {
  padding: 1rem;
  background: #000;
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 850px) {
  .Folio {
    flex-direction: column;
  }

  .Folio--Image {
    width: 100%;
  }
}
