@import "../../style/common.css";

:root {
  --header-inverse-top: -7.5rem;
}

.Header {
  height: 80px;
}

.MenuToggle {
  position: relative;
  z-index: 1;
  z-index: 999;
  display: block;
  padding: 3rem;
  cursor: pointer;
  user-select: none;
  user-select: none;
}

.MenuToggle > span:first-child {
  animation-name: rotateReset;
  animation-duration: .5s;
  animation-fill-mode: both;
}

.MenuToggle > span:nth-child(2) {
  opacity: 1;
}

.MenuToggle > span:nth-last-child(2) {
  animation-name: rotateReset;
  animation-duration: .5s;
  animation-fill-mode: both;
}

.MenuToggle--Open > span:first-child {
  top: 10px;
  width: 40px;
  margin: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: rotateUp;
}

.MenuToggle--Open > span:nth-child(2) {
  margin: 10px;
  opacity: 0;
}

.MenuToggle--Open > span:last-child {
  bottom: 18px;
  width: 40px;
  margin: 0;
  animation-duration: .5s;
  animation-fill-mode: both;
  animation-name: rotateDown;
}

.MenuToggle--Open {
  position: fixed;
}

.MenuToggle--Line {
  position: relative;
  z-index: 1;
  display: block;
  width: 3.3rem;
  height: .4rem;
  margin-bottom: .5rem;
  border-radius: .3rem;
  background: black;
}

@keyframes rotateReset {
  to {
    transform: rotate(0);
  }
}

@keyframes rotateUp {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes rotateDown {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(-45deg);
  }
}

.Menu {
  position: fixed;
  top: 0;
  z-index: 998;
  width: 100%;
  height: 100%;
  padding: 8rem 0 0;
  margin: 0;
  background: var(--base-background-colour);
  -webkit-font-smoothing: antialiased;
  opacity: 0;
  transition: .5s;
  list-style-type: none;
}

.Menu a {
  display: block;
  padding: 1rem;
  font-weight: 400;
  text-align: center;
  text-decoration: none;
  transition: color .3s ease;
}

.Menu svg > fill {
  color: aquamarine;
}

.Menu a:hover {
  background: var(--base-colour);
  color: white;
}

.Menu a:hover {
  background: var(--base-colour);
  color: white;
}

.Menu--Open {
  display: block;
  transform: none;
  opacity: 1;
}

.Menu--Closed {
  display: none;
  transform: translate(-100%, 0);
  transform-origin: 0% 0%;
  opacity: 0;
}

.Menu ul {
  padding: 0;
  margin: 0;
}

.Menu li {
  padding: 0;
  font-size: 2rem;
}

.Menu a {
  padding: 2rem;
}

.MenuToggle {
  position: relative;
  z-index: 1;
  z-index: 999;
  display: block;
  padding: 3rem;
  cursor: pointer;
  user-select: none;
  user-select: none;
}

.Left {
  float: left;
}

.Right {
  float: right;
}

.Hide {
  display: none;
}

@media screen and (min-width: 700px) {
  .Menu {
    position: fixed;
    z-index: 998;
    width: 30rem;
    height: 100%;
    -webkit-font-smoothing: antialiased;
    transition: .5s;
    list-style-type: none;
  }

  .Menu a {
    text-align: left;
  }

  .MenuToggle {
  }

  .Menu--Closed {
    transform: none;
    opacity: 0;
  }
}
