@import '../../style/common.css';

:root {
  --header-inverse-top: -7.5rem;
}

.Header {
  height: 80px;
}

.MenuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  padding: 3rem;
  z-index: 999;
  cursor: pointer;
}

.MenuToggle > span:first-child {
  animation-name: rotateReset;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.MenuToggle > span:nth-child(2) {
 opacity: 1;
}

.MenuToggle > span:nth-last-child(2) {
  animation-name: rotateReset;
  animation-duration: 0.5s;
  animation-fill-mode: both;

}

.MenuToggle--Open > span:first-child {
  animation-name: rotateUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  top: 10px;
  width: 40px;
  margin: 0;
}

.MenuToggle--Open > span:nth-child(2) {
  opacity: 0;
  margin: 10px;
}

.MenuToggle--Open > span:last-child {
  animation-name: rotateDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
  bottom: 18px;
  width: 40px;
  margin: 0;

}

.MenuToggle--Open {
  position: fixed;
}

.MenuToggle--Line {
  display: block;
  width: 3.3rem;
  height: 0.4rem;
  margin-bottom: 0.5rem;
  position: relative;
  background: black;
  border-radius: 0.3rem;
  z-index: 1;
}

@keyframes rotateReset {
  to {
    transform: rotate(0)
  }
}

@keyframes rotateUp {
  from {
      transform: rotate(0)
  }

  to {
    transform: rotate(45deg);
  }
}

@keyframes rotateDown {
  from {
      transform: rotate(0)
  }

  to {
    transform: rotate(-45deg);
  }
}
.Menu {
  top: 0;
  margin: 0;
  padding: 8rem 0 0 0;
  position: fixed;
  width: 100%;
  z-index: 998;
  height: 100%;
  opacity: 0;
  background: var(--base-background-colour);
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  transition: 0.5s;
}

.Menu a {
  padding: 1rem;
  text-decoration: none;
  transition: color 0.3s ease;
  display: block;
  font-weight: 400;
  text-align: center;
}

.Menu svg > fill {
  color: aquamarine;
}

.Menu a:hover {
  background: var(--base-colour);
  color: white;
}

.Menu a:hover {
  background: var(--base-colour);
  color: white;
}

.Menu--Open {
  transform: none;
  opacity: 1;
  display: block;
}

.Menu--Closed {
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  opacity: 0;
  display: none;
}

.Menu ul {
  padding: 0;
  margin: 0;
}

.Menu li {
    padding: 0;
    font-size: 2rem;
}

.Menu a {
  padding: 2rem;
}

.MenuToggle {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  padding: 3rem;
  z-index: 999;
  cursor: pointer;
}

.Left {
  float: left;
}

.Right {
  float: right;
}

.Hide {
  display: none;
}

@media screen and (min-width: 700px) { 
  .Menu {
    position: fixed;
    width: 30rem;
    z-index: 998;
    height: 100%;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transition: 0.5s;
  }

  .Menu a {
    text-align: left;
  }

  .MenuToggle {
  }

  .Menu--Closed {
    transform: none;
    opacity: 0;
  }
}