.InnerContainer {
  display: flex;
  flex-direction: column;
  order: 1;
  padding: 0 1rem 1rem 1.5rem;
}

.Entry--Container {
  padding-bottom: 5rem;
  margin-bottom: 5rem;
  border-bottom: 3px solid #ededed;
}

.Entry--Header {
  margin-bottom: 4rem;
  color: #ec7263;
}

.Entry--Body {

}

.Block--Code {
  padding: 10px;
  border: #ddd 1px solid;
  border-radius: 5px;
  background: #eee;
}

.Bold {
  padding: .5rem 0;
  font-weight: bold;
}

.Code {
  padding: 1rem;
  background: var(--base-background-colour);
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
  font-weight: bold;
}

.Text {
  padding: .5rem 0;
}

.ImageContainer {
  text-align: center;
}

.ImageContainer--Image {
  max-height: 30rem;
  max-width: 100%;
}
