@import '../../style/common.css';

:root {
    --header-background-colour: #ffffff;
}

.Header {
    composes: Container--Standard from '../../style/common.css';
    padding: var(--base-pad);
    background: var(--header-background-colour);
    display: flex;
    justify-content: space-evenly;
}
