/* webpackIgnore: true */
@tailwind base;
/* webpackIgnore: true */
@tailwind components;
/* webpackIgnore: true */
@tailwind utilities;

@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900";

@font-face {
  font-family: 'HarmanSans';
  src: url('https://devnotnull-ui-production.s3.eu-west-2.amazonaws.com/media/Harman-Sans.woff2') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer base {
    html {
      font-family: "Roboto", sans-serif;
      font-weight: 100;
    }
}