@import '../../../style/common.css';

:root {
    --header-inverse-top: -7.5rem;
}

.Header {
    text-align: left;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    padding-bottom: 2rem;
}

.Header--Photo {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    padding: 5px;
    background: #ededed;
    display: inline-block;

    -webkit-transition:  -webkit-transform .2s ease-out;
    -moz-transition: -moz-transform .2s ease-out;
    -o-transition: -o-transform .2s ease-out;
    -ms-transition: -ms-transform .2s ease-out; 
    transition: transform .2s ease-out; 
}

.Header--Photo:hover {
   -webkit-transform:scale(1.1);
   -moz-transform:scale(1.1);
   -o-transform:scale(1.1);
   transform:scale(1.1);
}

.Header--Photo img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
}

.Text--Header h1 {
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -1px;
}

.Text-header h1::first-line {
    font-size: 1.5rem;
    letter-spacing: -4px;
    font-weight: 800;
    line-height: 1.5rem;
}

.Header--Text h1 span {
    color: #F0563D;
}

.Header--Text h1 sup {
    opacity: 0.5;
}

.Header--Text:after {
    width: 100%;
    height: 0.3rem;
    background: #ddd;
    opacity: 0.5;
    content: '';
    display: block;
}

.Description {
  font-size: 1.6rem;
}

.Link {
    margin: 3rem 1rem;
    padding: 1rem;
    font-size: 2rem;
    display: inline-block;
    font-weight: 400;
    color: black;
}

.Link--left {
    float: left;
}

.Link--right {
    float: right;
}

.Link--active {
    background: orange;
    border-radius: 1rem;
}

.Clear {
    clear: both;
}